body {
    background-color: white;
    /*font-size: 18px;*/
    font-family: 'Permanent Marker', cursive;
    /*font-family: 'Walter Turncoat', cursive;*/
    background: url(../Images/background.PNG) no-repeat center fixed;
    background-size: 70%;
    font-size: unset;
}

h1 {
    padding-top: 7%;
    text-align: center;
    display: block;
}

p {
    text-align: center;
    display: block;
}

/*Note that the fixed menu will overlay your other content. To fix this, 
    add a margin-top (to the content) that is equal or larger than the height of your menu.*/

.container p h1 {
    width: 200px;
    height: 300px;
    /*margin: 5px auto;*/
    margin: 0 5px;
}

.container {
    perspective: 700px;
}

.card {
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 300px;
    transition: all 2s ease;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card:hover {
    transform: rotateY(180deg);
}