body {
    background-color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    /*font-family: 'Walter Turncoat', cursive;*/
    background: url(../Images/background.PNG) no-repeat center fixed;
    background-size: 70%;
}



/*NAVBAR*/

/*page-container and content-wrap needed to set the navbar*/
#page-container {
    position: fixed;
    top: 0;
    min-height: 100%;
    width: 100%;
    /*z-index: 1;*/
}

#content-wrap {
    padding-bottom: 2.5rem;
}

body {
    background-color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    /*font-family: 'Walter Turncoat', cursive;*/
}

a {
    opacity: 0.5;
}

    a:hover {
        opacity: 1.0;
        text-decoration: none;
    }

/*Centering the navbar text*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}



/*FOOTER*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: black;
    color: rgb(166, 166, 166);
    text-align: center;
    font: inherit;
    z-index: 1;
}

    .footer ul li {
        display: inline-block;
        list-style-type: none;
    }

    .footer img {
        max-width: 25%;
        height: auto;
        margin: 0;
        padding: 0;
    }
